<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Kumar+One+Outline|Permanent+Marker|Sedgwick+Ave+Display" rel="stylesheet">
  <title>Arteme, where customers meet artists right here, right now</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href='style.css' rel='stylesheet'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div id="banner">
  <h1>My Arteme app</h1>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
  <a class="btn btn-danger" target="_blank" href="https://www.connaissancedesarts.com/"> Hot and Art news !</a>
  <p></p><p></p><p></p>
  <p>The Art’s best on the easiest platform</p>
</div>

<div class=container>
  <div class=row>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="slogan">
        <img src="images/handshake.png" alt="picture description" width="80">
        <h2>Transparency</h2>
        <p>From <strong>artists</strong> to <strong>art lovers</strong></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="slogan">
        <img src="images/simplicity.png" alt="picture description" width="80">
        <h2>Simplicity</h2>
        <p><strong>Digital</strong>, <strong>simple</strong> and <strong>user-friendly</strong>
        </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="slogan">
        <img src="images/diversity.png" alt="picture description" width="80">
        <h2>Diversity</h2>
        <p>A unique <strong>curation</strong></p>
        </div>
    </div>  
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="slogan">
        <img src="images/service.png" alt="picture description" width="80">
      <h2>Service</h2>
        <p>A <strong>dedicated </strong> team</p>
        </div>
    </div>  
  </div>
</div>

<div class="wrapper">


<div class="container"> 
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <div id="wufoo-z119gt1711z500z">
      Fill out my <a href="https://mathildeg.wufoo.com/forms/z119gt1711z500z">online form</a>.
      </div>
      <script type="text/javascript">var z119gt1711z500z;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'mathildeg',
      'formHash':'z119gt1711z500z',
      'autoResize':true,
      'height':'694',
      'async':true,
      'host':'wufoo.com',
      'header':'show',
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { z119gt1711z500z = new WufooForm();z119gt1711z500z.initialize(options);z119gt1711z500z.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>
    </div>
  </div>
</div>    
</div>

<div id="footer">
  <p>This is a playground landing ©Le Wagon</p>
  <ul class="list-inline">
  <li><a target="_blank" href="https://www.youtube.com/watch?v=D6hggQpTvdo&index=3&list=LLcnncwWaSAj9fkkH3ApfcTw"><i class="fa fa-youtube"></i></a></li>
  <li><a target="_blank" href="https://www.facebook.com/BeauxartsNantes/"><i class="fa fa-facebook"></i></a></li>
  <li><a target="_blank" href="https://twitter.com/BeauxArts_mag"><i class="fa fa-twitter"></i></a></li>
  <li><a target="_blank" href="https://github.com/explore"><i class="fa fa-github"></i></a></li>
</ul>

</div>
</html>